@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap");

:root {
    --primary-color: #009124;
    --secondary-color: #0B37D9;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    background-color: var(--primary-color);
    color: black;
}

a {
    text-decoration: none;
}

header {
    padding: 30px;
    width: 100%;
    text-align: center;
    background: #F0F0F5;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    color: var(--primary-color);
    padding: 8px;
    transition: opacity 0.4s;
    position: relative;
}

.links a:hover {
    opacity: 0.8;
}

.links a::after {
    /* Todo After ou before deve conter uma propriedade content */
    content: '';
    width: 0;
    /* Se esquecer o height não vai funcionar de jeito nenhum */
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--primary-color);
}

.links a:hover::after {
    width: 100%;
    transition: width 0.2s ease-in-out;
}

/* === Card === */

.card {
    width: 800px;
    min-height: 400px;
    margin: 32px auto;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 2px 2px 10px 2px #aaa;

    animation: left 0.3s ease-in-out;
}

/* Animation */

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
    }
}

.card-details {
    padding: 15px;
}

.card-details h2 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: var(--primary-color);
}

.card-info h3 {
    font-size: 18px;
    color: #333;
    font-weight: normal;
    line-height: 28px;
}

.card-image {
    background-image: url('https://source.unsplash.com/collection/517198/500x500');
    background-position: center center / cover;
    background-repeat: no-repeat;
}

.card-info {
    border-top: 1px solid #555;
    padding: 8px;
}

.card-info:first-child {
    border-top: none;
}

.card-info:nth-child(4) {
    line-height: 28px;
}

.card-info:nth-child(6) {
    font-size: 14px;
    color: #777;
    font-weight: normal;
    line-height: 24px;
}

.card-info span {
    border-radius: 16px;
    font-size: 18px;
    line-height: 28px;
    background-color: var(--secondary-color);
    padding: 8px 16px;
    margin-top: 8px;
    display: inline-block;
    color: #777;
    font-weight: bold;
}

.card-info span + span {
    margin-left: 8px;
}

/* === Form === */

input {
    width: 100%;
    font-size: 18px;
    color: #777;
}

input[type='radio'] {
    width: initial;
    font-weight: normal;
    margin-right: 4px;
}

select {
    width: 100%;
    height: 24px;
    outline: none;
    font-size: 16px;
    line-height: 26px;
    color: #555;
}

button[type='submit'] {
    border-radius: 16px;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    padding: 8px 16px;
}