{% extends 'layout.njk' %}

{% block head %}
    <title>Links - Rocketseat</title>
{% endblock %}

{% block content %}
    <main>
        <div id='main-links' class="links">
            <a href="https://discordapp.com/invite/gCRAFhc">Acesse a comunidade no Discord</a>
            <a href="mailTo:oi@rocketseat.com.br">Envia uma mensagem no email</a>
            <a href="tel:+5547992078767">Ligue para nos</a>
        </div>
    </main>
{% endblock %}