{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <div class="card-image"></div>

        <div class="card-details">
            <h2>Details</h2>

            <div class="card-info">
                <h3>Nome</h3>
                <p>Douglas de Oliveira</p>
            </div>

            <div class="card-info">
                <h3>Idade</h3>
                <p>53 Anos</p>
            </div>

            <div class="card-info">
                <h3>Grau de Escolaridade</h3>
                <p>Doutorado</p>
            </div>

            <div class="card-info">
                <h3>Tipo de Aula</h3>
                <p>Presencial</p>
            </div>

            <div class="card-info">
                <h3>Acompanhamento</h3>
                <div>
                    <span>Matemática</span>
                    <span>Física</span>
                </div>
            </div>

            <div class="card-info">
                <h3>Desde</h3>
                <p>15/04/2020</p>
            </div>
        </div>

    </div>
{% endblock %}